@charset "utf-8";
/* CSS Document */

nav a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;

}

nav li{
    display: inline-block;
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    background-color: #AA2400;
    border: 1px solid #0000;
    text-align:center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    color: #FFFFFF;
    position: relative;
    
}

nav li:hover{
    background-color: #FFFFFF;
    color: #3B0203;
}

nav li>ul{
    display: none;
}

nav li:hover>ul{
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
}

.menuprincipal{
	   align-content: center;
   
padding-left: 460px;

}
   
h1{
	font-size: 150px;
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #DB3D00;
}


body{
	background-image: url("file:///C:/Users/UANE/Documents/proyecto%20final/imagenes/fondo1.jpg");
	align-content: center;
	
}
	
.texto1{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 30px;
	color: aliceblue;
}
}


img{
	width: 600px;
	height: 600px;
	border: 3;
	
}
.Galeria{
	text-align: center;

}


.reloj{
	text-align: center;
}

.banner3{
	height: 300px;
	width: 600px;
	align-content: center;
	padding-left: 640px;
	padding-top: 150px;
}